*.py[cod]

*~

#.
/.hg/hgrc
*\.bak
*\.bbl
*\.out
*\.blg
*\.aux
*\.log
*\.backup
*\.bk
*\.manifest
*\.dll
*\.toc
Output/*
dist/*
build/*
prod/*
DS_Store 

_latex/*
_sphinx/*

## docs
docs/_build/*
docs/_static/*
docs/_sphinx/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*/_latex/*
*/_sphinx/*
*/*/_latex/*
*/*/_sphinx/*
*/*/*/_latex/*
*/*/*/_sphinx/*
.ipynb_checkpoints

visualization/imgs/*